.app {
  background: #313146;
  padding: 30px;
  height: 100vh;
}

.header {
  color: #dddee0;
  font-size: 1.7511em;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
}

.todo-list {
  background: #454555;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  height: 135px;
  margin: auto;
}

.todo {
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 18px;
  margin-bottom: 6px;
  border-radius: 3px;
  cursor: pointer;
}
